charts/inputs/*generated/
charts/inputs/tests/**/*.png
charts/inputs/train/**/*.png
*-generated/
*-generated-*/
charts/experiments/
charts/attic/parse_chart_v2/build/

lightning_logs/
logs/
__pycache__/
.ipynb_checkpoints/
build/
.eggs/
*.egg-info/

