charts/inputs/*generated/
charts/inputs/test/
charts/inputs/train*/**/*.png
charts/inputs/train/*/
charts/inputs/train*/
charts/inputs/rawdata/
*-generated/
*-generated-*/
charts/experiments/
charts/attic/parse_chart_v2/build/

lightning_logs/
logs/
logs-*/
__pycache__/
.ipynb_checkpoints/
build/
.eggs/
*.egg-info/

imgui.ini
*logs*.tar